#!/usr/bin/env bash
{{ if eq .osid "linux-arch" }}
yayf() {
	fzf_args=(
		--multi
		--preview 'echo "alt-p: toggle preview, alt-j/k: scroll, F11: maxime"; echo; yay -Sii {1}'
		--preview-window 'down:65%:wrap'
		--bind 'alt-p:toggle-preview'
		--bind 'alt-d:preview-half-page-down,alt-u:preview-half-page-up'
		--bind 'alt-k:preview-up,alt-j:preview-down'
	)

	if [ "$1" == "-S" ] || [ "$1" == "--sync" ]; then
		pkg_name=$(yay -Slq | fzf "${fzf_args[@]}")
		if [[ -n "$pkg_name" ]]; then
			yay -Sy "$pkg_name"
			sudo updatedb
			gum spin --title "Done!" -- sleep 2
		fi

	elif [ "$1" == "-R" ] || [ "$1" == "--remove" ]; then
		pkg_name=$(yay -Qqe | fzf "${fzf_args[@]}")
		if [[ -n "$pkg_name" ]]; then
			yay -Rns "$pkg_name"
			sudo updatedb
			gum spin --title "Done!" -- sleep 2
		fi
	else
		echo "usage:
	yayf <operation>
operations:
	yayf {-S --sync}
	yayf {-R --remove}
"
	fi
}
{{ end }}
gemini() {
	export GEMINI_API_KEY="op://Private/Gemini API Key/credential"
	op run --no-masking -- gemini
}
{{ if lookPath "zeit" }}
zeit-del() {
	if [[ "$(zeit list --no-colors | wc -l)" == 0 ]]; then
		gum log --level error "No entries to delete."
	else
		gum log --level info "Select an entry to delete."
		echo

		zeit list --no-colors |
			gum choose --no-limit |
			awk -F' ' '{ print $1 }' |
			xargs -rl zeit erase
	fi
}
{{- end }}
