#!/usr/bin/env sh

{{ if eq .osid "linux-arch" -}}
# For some reason... (https://aur.archlinux.org/packages/miniconda3#comment-991528)
export CRYPTOGRAPHY_OPENSSL_NO_LEGACY='1'
{{- end }}

append_path() {
	case ":$PATH:" in
	*:"$1":*) ;;
	*)
		PATH="${PATH:+$PATH:}$1"
		;;
	esac
}

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

append_path "$HOME/.local/bin"
append_path "$HOME/.cargo/bin"
append_path "$(go env GOPATH)/bin"
append_path "$HOME/.cabal/bin"
append_path "$HOME/.ghcup/bin"
{{ if eq .osid "linux-arch" -}}
append_path "$HOME/bin"
{{ end -}}
export PATH

unset -f append_path

# Load NVM
{{ if eq .osid "linux-arch" -}}
. /usr/share/nvm/init-nvm.sh
{{- else -}}
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
{{- end -}}
