source-file ~/.config/tmux/theme.conf

# Shift + Alt + Vim Keys to switch windows
bind -n M-H previous-window
bind -n M-L next-window

# Start windows and panes at 1, not 0
set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'

bind C-l send-keys 'C-l'

{{ if eq .chezmoi.hostname "windhelm" -}}
# FIXME: Look up what the option below does... I had
# it so long on MacOS that I don't even remember
set-option -sa terminal-overrides ",xterm*:Tc"
{{- end }}

# set vi-mode
set-window-option -g mode-keys vi
# keybindings
bind-key -T copy-mode-vi v send-keys -X begin-selection
bind-key -T copy-mode-vi C-v send-keys -X rectangle-toggle
bind-key -T copy-mode-vi y send-keys -X copy-selection-and-cancel

set -g mouse on

set -g status-left-length 30

set -gq allow-passthrough on
set -g visual-activity off

{{ if eq .chezmoi.hostname "windhelm" -}}
# https://github.com/tmux-plugins/tpm/issues/67#issuecomment-319561401
set-environment -g PATH "/opt/homebrew/bin:/usr/local/bin:/bin:/usr/bin"
{{- end }}

run '~/.tmux/plugins/tpm/tpm'
