#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
# macOS: do nothing for now
echo "package installation is currently not supported on macOS"

{ else if eq .chezmoi.os "linux" }}

{{   if eq .chezmoi.osRelease.id "debian" }}
# debian: do nothing for now
echo "package installation is currently not supported on Debian"

{{   else if eq .chezmoi.osRelease.idLike "arch" }}
	echo {{ .packages.arch }}
	# sudo pacman -S --needed $(comm -12 <(pacman -Slq | sort) <(sort pkglist.txt))
{{   end }}
{{ end }}
