[font]
size = {{- if eq .chezmoi.os "linux" }} 12 {{- else }} 14 {{- end }}
normal = { family = {{- if eq .chezmoi.os "linux" }} "IosevkaTermNF" {{- else }} "IosevkaTerm Nerd Font" {{- end }}, style = "Regular" }
bold = { style = "Bold" }
italic = { style = "Italic" }

[window]
padding.x = 16
padding.y = 14

[scrolling]
history = 10000
multiplier = 3

[env]
TERM = "xterm-256color"

[general]
import = [
    "~/.config/alacritty/theme.toml"
]

[terminal.shell]
{{- if eq .chezmoi.os "linux" }}
program = "/usr/bin/sh"
args = ["/home/dennisbejze/.config/alacritty/tmux.sh", "/usr/bin"]
{{- else }}
program = "/bin/sh"
args = ["/Users/dennisbejze/.config/alacritty/tmux.sh", "/opt/homebrew/bin"]
{{- end }}
