/* Polar Night */
@define-color nord0 #2e3440;

/* Frost */
@define-color nord7 #8fbcbb;

/* Aurora */
@define-color nord11 #bf616a;
@define-color nord12 #d08770;

@keyframes blink-warning {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: @nord12;
  }
}

@keyframes blink-critical {
  70% {
    color: white;
  }

  to {
    color: white;
    background-color: @nord11;
  }
}

#waybar {
  background: transparent;
  font-family: Iosevka;
  font-size: 14px;
}

#custom-launcher,
#cpu,
#memory,
#tray,
#mode,
#custom-spotify,
#workspaces,
#custom-updates,
#network,
#bluetooth,
#pulseaudio,
#battery,
#backlight,
#clock,
#custom-power {
  padding: 0.2rem 1rem;
  margin: 0 2px 0 2px;
  background: @nord0;
  border-radius: 3px;
}

#custom-launcher {
  font-size: 24px;
}

#custom-power {
  font-size: 24px;
}

#workspaces {
  padding: inherit;
}

#workspaces button {
  padding: 0px 4px;
  border-radius: 0;
}

#workspaces button.focused:first-child,
#workspaces button:first-child:hover {
  border-radius: 3px 0 0 3px;
}

#workspaces button.focused {
  border-radius: 0;
  background-color: @nord7;
  color: @nord0;
}

#workspaces button.focused:last-child,
#workspaces button:last-child:hover {
  border-radius: 0 3px 3px 0;
}

#workspaces button.focused:only-child,
#workspaces button:only-child:hover {
  border-radius: 3px;
}

#workspaces button.urgent {
  background-color: @nord11;
  color: @nord0;
}

#mode {
  background: @nord7;
  color: @nord0;
}

#pulseaudio.muted {
  color: @nord7;
}

#battery,
#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu.warning,
#memory.warning,
#battery.warning {
  color: @nord12;
}

#network.disconnected,
#cpu.critical,
#memory.critical,
#battery.critical {
  color: @nord11;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#memory.critical,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}
