{
  "webdav": {
    "address": "http://192.168.180.210:5005/obsidian/dennisbejze/",
    "username": "{{ onepasswordRead "op://Schwandorfer Infrastruktur/atfrlo2c4tfdhbla3zzsocwque/username" }}",
    "password": "{{ onepasswordRead "op://Schwandorfer Infrastruktur/atfrlo2c4tfdhbla3zzsocwque/password" }}",
    "authType": "basic",
    "manualRecursive": false,
    "depth": "manual_infinity",
    "remoteBaseDir": "",
    "customHeaders": ""
  },
  "password": "",
  "serviceType": "webdav",
  "currLogLevel": "info",
  "autoRunEveryMilliseconds": 60000,
  "initRunAfterMilliseconds": 10000,
  "syncOnSaveAfterMilliseconds": -1,
  "agreeToUploadExtraMetadata": true,
  "concurrency": 20,
  "syncConfigDir": false,
  "syncBookmarks": false,
  "syncUnderscoreItems": false,
  "lang": "auto",
  "logToDB": false,
  "skipSizeLargerThan": -1,
  "ignorePaths": [],
  "onlyAllowPaths": [],
  "enableStatusBarInfo": true,
  "deleteToWhere": "system",
  "agreeToUseSyncV3": true,
  "conflictAction": "keep_newer",
  "howToCleanEmptyFolder": "clean_both",
  "protectModifyPercentage": 50,
  "syncDirection": "bidirectional",
  "obfuscateSettingFile": true,
  "encryptionMethod": "rclone-base64"
}
