[font]
# size = 11 
size = 14 # on high resolutions
normal = { family = "IosevkaTerm Nerd Font", style = "Regular" }
bold = { style = "Bold" }
italic = { style = "Italic" }

[window]
padding.x = 16
padding.y = 14

[scrolling]
history = 10000
multiplier = 3

[env]
TERM = "xterm-256color"

[general]
import = [
    "~/.config/alacritty/theme.toml"
]
{{- if eq .chezmoi.os "linux" }}
[terminal.shell]
program = "/user/bin/sh"
args = ["/home/dennisbejze/.config/alacritty/tmux.sh"]
{{- end }}
