theme = nord

font-size = {{- if eq .chezmoi.hostname "markarth" }} 14 {{- else }} 12 {{- end }}
font-family = "IosevkaTerm Nerd Font Mono"
font-feature=-calt, -liga, -dlig

window-padding-x = 16
window-padding-y = 14
