theme = catppuccin-mocha

font-size = {{- if eq .chezmoi.hostname "riften" }} 12 {{- else }} 14 {{- end }}
font-family = "IosevkaTerm Nerd Font Mono"
font-feature=-calt, -liga, -dlig

window-padding-x = 16
window-padding-y = 14

{{ if eq .chezmoi.os "darwin" -}} macos-option-as-alt = left {{- end }}
