@import "mocha.css";

@keyframes blink-warning {
  70% {
    color: @text;
  }

  to {
    color: @yellow;
  }
}

@keyframes blink-critical {
  70% {
    color: @text;
  }

  to {
    color: @red;
  }
}

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMonoNL Nerd Font Propo;
  font-size: 14px;
}

window#waybar {
  background-color: @base;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  color: @text;
}

#cpu {
  margin: 0 20px;
}

#battery,
#bluetooth,
#clock,
#custom-nightlight,
#custom-power,
#custom-updates,
#mpris,
#network,
#privacy,
#pulseaudio,
#tray,
#custom-zeit {
  min-width: 12px;
  margin: 0 10px;
}

/* Explicitly setting the text color
*  because otherweise the coloring privacy module
*  does not work.
* */
#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#mpris,
#custom-power,
#custom-updates,
#custom-nightlight,
#power-profiles-daemon,
#custom-zeit {
  color: @text;
}

#custom-zeit {
  font-size: smaller;
}

#memory,
#custom-updates,
#power-profiles-daemon {
  margin: 0 12px;
}

tooltip {
  padding: 2px;
}

#battery,
#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu.warning,
#memory.warning,
#battery.warning {
  color: @yellow;
}

#network.disconnected,
#cpu.critical,
#memory.critical,
#battery.critical {
  color: @red;
}

#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

#memory.critical,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

#privacy,
#pulseaudio.muted {
  background-color: @peach;
  color: @base;
  padding: 2px 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#pulseaudio.muted {
  background-color: @teal;
}
